body, html {
  height: 100%;
}
body {
    background-image: url('https://i.imgur.com/0RIfAsY.jpg');
    background-size: cover;
    /*background-repeat: no-repeat;  ;; THIS SHOULD BE ADDRESSED. TAKEN OUT AS HOT FIX.*/
}

@media only screen and (max-width: 960px) {
    body {
        background-image: url('https://i.imgur.com/IaREssH.jpg');
    }

}
